.content {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.content h1 {
    margin-bottom: 1em;
}

.content p {
    margin-top: 1em;
}

.content h1 span {
    color: #FF1A1A;
    font-weight: bolder;
}

.react {
    color: #5ED3F3;
}

.next {
    font-weight: bolder;
}