.header {
    height: 100px;
    background-color: #343334;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    margin-bottom: 2em;
}

.header img {
    cursor: pointer;
}

.header ul {
    display: flex;
    flex-direction: row;
}

.header ul li {
    list-style: none;
}

.header ul li a {
    text-decoration: none;
    padding: 1em;
    color: white;
}